In [59]:
n =4
m=4

In [66]:
for i in range(0,n):
    for j in range(0,m):
        if j > 0 and i == 1:
            print(" ", end='')
        elif j >1 and i == 0:
            print(" ", end='')
        elif j >2 and i ==3:
            print(" ", end='')
        else:
            print("*", end='')
    print()

**
*
****
***

In [64]:
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end='')
    print()

*
**
***
****

In [33]:
for i in range(0,n):
    for j in range(0,i+1):
        print(j+1, end='')
    print()

1
12

In [5]:
for i in range(0,n):
    for j in range(0,i+1):
        print(i+1, end='')
    print()

1
22

In [6]:
for i in range(0,n):
    for j in range(0, n-i):
        print("*", end='')
    print()

**
*

In [7]:
for i in range(0,n):
    for j in range(0, n-i):
        print(j+1, end='')
    print()

12
1

In [8]:
for i in range(0,n+1):
    print((n-i)*" ", end='')
    print((i*2-1)*"*", end='')
    print()

 *
***

In [9]:
for i in range(0, n+1):
    print(i*" ", end='')
    print((2*(n-i)-1)*"*", end='')
    print()

***
 *

In [10]:
n =10
for i in range(1, n):
    if i <= n/2:
            print((n-i)*" ", end='')
            print((i*2-1)*"*", end='')
            print()
    else:
            print(i*" ", end='')
            print((2*(n-i)-1)*"*", end='')
            print()

         *
        ***
       *****
      *******
     *********
      *******
       *****
        ***
         *

In [11]:
for i in range(0, n+1):
    for j in range(0,i+1):
        if i <= 5:
            print("*", end='')
        else:
            print_str = n - i + 1
            print(print_str*"*", end=' ')
            break
    print()

*
**
***
****
*****
******
*****
****
***
**
*

In [12]:
for i in range(1, 7):
    for j in range(1, i):
        if j % 2 == 0:    
            print(0, end='')
        else:
            print(1, end='')
    print()

1
10
101
1010
10101

In [13]:
n = 4
space = 2*(n-1)
for i in range(1, n+1):
    space = (n-i)*2
    for j in range(1, i+1):        
        print(j, end='')
        
    for j in range(space, 0, -1):
        print(' ', end='')
        
    for j in range(i, 0, -1):
        print(j, end='')
         
    print()

1      1
12    21
123  321
12344321

In [14]:
count = 1
n = 5
for i in range(0, n+1):
    for j in range(0, i):
        print(count, end='')
        count += 1
    print()

1
23
456
78910
1112131415

In [15]:
for i in range(0, n+1):
    for j in range(0, i):
        print(chr(65+j), end='')
    print()

A
AB
ABC
ABCD
ABCDE

In [16]:
for i in range(0, n+1):
    for j in range(0, n-i):
        print(chr(65+j), end='')
    print()

ABCDE
ABCD
ABC
AB
A

In [17]:
for i in range(0, n+1):
    for j in range(0, i):
        print(chr(64+i), end='')
    print()

A
BB
CCC
DDDD
EEEEE

In [18]:
for i in range(1, n+1):
    for j in range(n-i, 0, -1):
        print(' ', end='')
        
    for j in range(0, (i*2)-1):
        print('*', end='')
        
    for j in range(n-i, 0, -1):
        print(' ', end='')
    print()

    *
   ***
  *****
 *******
*********

In [19]:
for i in range(1, n+1):
    for j in range(n-i, 0, -1):
        print(' ', end='')
        
    for j in range(0, i):
        print(chr(65+j), end='')
        
    for j in range(i-1, 0, -1):
        print(chr(65+j-1), end='')
    print()

    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA

In [20]:
for i in range(0, n):
    for j in range(n - i - 1):
            print(" ", end="")
        
    # Print characters in ascending order
    for j in range(i + 1):
        print(chr(65 + j), end="")

    # Print characters in descending order (excluding the first character)
    for j in range(i - 1, -1, -1):
        print(chr(65 + j), end="")

    # Move to the next line for the next row
    print()

    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA

In [21]:
for i in range(1, n+1):
    for j in range(0, i):
        print(chr(65+n-i+j), end='')
    print()

E
DE
CDE
BCDE
ABCDE

In [22]:
n = 5
space_up = 0
for i in range(0, n+1):
    for j in range(n-i, 0, -1):
        print("*", end='')
    for j in range(space_up):
        print(" ", end='')
    for j in range(n-i, 0, -1):
        print("*", end='')
    print()
    space_up += 2
    
    
space_down = 8
for i in range(1, n+1):
    for j in range(0, i):
        print("*", end='')
    for j in range(space_down):
        print(" ", end='')
    for j in range(0, i):
        print("*", end='')
    print()
    space_down -= 2

**********
****  ****
***    ***
**      **
*        *

*        *
**      **
***    ***
****  ****
**********

In [23]:
n = 5 
space = 8
for i in range(1, n+1):
    for j in range(i):
        print("*", end='')
    for j in range(space):
        print(" ", end='')
    for j in range(i):
        print("*", end='')
    space -= 2
    print()
space = 2
for i in range(1, n+1):
    for j in range(n, i, -1):
        print("*", end='')
    for j in range(space):
        print(" ", end='')
    for j in range(n, i, -1):
        print("*", end='')
    space += 2
    print()

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [24]:
n = 4
for i in range(0, n):
    for j in range(0, n):
        if i == 0 or j == 0 or i == n-1 or j == n-1:
            print("*", end='')
        else:
            print(" ", end='')
    print()

****
*  *
*  *
****

In [25]:
for i in range(2*n-1):
    for j in range(2*n-1):
        top = i
        left = j
        right = (2*n - 2)- j
        down = (2*n - 2) - i
        print(n - min(min(top, down), min(left, right)), end='')
    print()

4444444
4333334
4322234
4321234
4322234
4333334
4444444