In [2]:
n =5

In [3]:
for i in range(0,n):
    for j in range(0,n):
        print("*", end='')
    print()

*****
*****
*****
*****
*****

In [4]:
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end='')
    print()

*
**
***
****
*****

In [5]:
for i in range(0,n):
    for j in range(0,i+1):
        print(j+1, end='')
    print()

1
12
123
1234
12345

In [6]:
for i in range(0,n):
    for j in range(0,i+1):
        print(i+1, end='')
    print()

1
22
333
4444
55555

In [7]:
for i in range(0,n):
    for j in range(0, n-i):
        print("*", end='')
    print()

*****
****
***
**
*

In [8]:
for i in range(0,n):
    for j in range(0, n-i):
        print(j+1, end='')
    print()

12345
1234
123
12
1

In [9]:
for i in range(0,n+1):
    print((n-i)*" ", end='')
    print((i*2-1)*"*", end='')
    print()

    *
   ***
  *****
 *******
*********

In [10]:
for i in range(0, n+1):
    print(i*" ", end='')
    print((2*(n-i)-1)*"*", end='')
    print()

*********
 *******
  *****
   ***
    *

In [11]:
n =10
for i in range(1, n):
    if i <= n/2:
            print((n-i)*" ", end='')
            print((i*2-1)*"*", end='')
            print()
    else:
            print(i*" ", end='')
            print((2*(n-i)-1)*"*", end='')
            print()

         *
        ***
       *****
      *******
     *********
      *******
       *****
        ***
         *

In [21]:
for i in range(0, n+1):
    for j in range(0,i+1):
        if i <= 5:
            print("*", end='')
        else:
            print_str = n - i + 1
            print(print_str*"*", end=' ')
            break
    print()

*
**
***
****
*****
******
*****
****
***
**
*

In [27]:
for i in range(1, 7):
    for j in range(1, i):
        if j % 2 == 0:    
            print(0, end='')
        else:
            print(1, end='')
    print()

1
10
101
1010
10101

In [18]:
n = 4
space = 2*(n-1)
for i in range(1, n+1):
    for j in range(1, i):
        print(j+" " , end='')
        
    
    for j in range(n-i, 0, -2):
        print(j*' ', end='')
        
    for j in range(i, 0, -1):
#         print(j)
        print(j, end='')
         
    print()

    1
1  21
12 321
1234321